name: "Continuous Deployment"

on:
  push:
    branches: [ main ]

concurrency:
  group: nuget-${{ github.ref }}
  cancel-in-progress: true

env:
  PROJECT_PATH: 'src/StrongTypedId/StrongTypedId.csproj'
  LITE_PROJECT_PATH: 'src/StrongTypedId.LiteDB/StrongTypedId.LiteDB.csproj'
  MONGO_PROJECT_PATH: 'src/StrongTypedId.MongoDB/StrongTypedId.MongoDB.csproj'
  NEWTON_PROJECT_PATH: 'src/StrongTypedId.NewtonSoft/StrongTypedId.NewtonSoft.csproj'
  EF_PROJECT_PATH: 'src/StrongTypedId.EntityFrameworkCore/StrongTypedId.EntityFrameworkCore.csproj'
  DAPPER_PROJECT_PATH: 'src/StrongTypedId.Dapper.DDD.Repository/StrongTypedId.Dapper.DDD.Repository.csproj'
  SWAGGER_PROJECT_PATH: 'src/StrongTypedId.Swagger/StrongTypedId.Swagger.csproj'
  SOLUTION_PATH: 'StrongTypedId.sln'
  PACKAGE_OUTPUT_DIRECTORY: ${{ github.workspace }}/output
  NUGET_SOURCE_URL: 'https://api.nuget.org/v3/index.json'

jobs:
  test:
    name: 'test'
    runs-on: 'ubuntu-latest'

    steps:
    - name: 'Checkout'
      uses: actions/checkout@v4

    - name: 'Install dotnet'
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 9.0.x

    - name: 'Restore packages'
      run: dotnet restore ${{ env.SOLUTION_PATH }}

    - name: Test
      run: dotnet test ${{ env.SOLUTION_PATH }}

  deploy:
    needs: test
    runs-on: 'ubuntu-latest'
    permissions:
      id-token: write # required by OIDC

    steps:
    - name: 'Checkout'
      uses: actions/checkout@v4

    - name: 'Install dotnet'
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 9.0.x

    - name: 'Restore packages'
      run: dotnet restore ${{ env.SOLUTION_PATH }}

    - name: 'Build project'
      run: dotnet build ${{ env.SOLUTION_PATH }} --no-restore --configuration Release

    - name: 'Pack main project'
      run: dotnet pack ${{ env.PROJECT_PATH }} --no-restore --no-build --configuration Release --include-symbols -p:SymbolPackageFormat=snupkg --output ${{ env.PACKAGE_OUTPUT_DIRECTORY }}

    - name: 'Pack LiteDB extension'
      run: dotnet pack ${{ env.LITE_PROJECT_PATH }} --no-restore --no-build --configuration Release --include-symbols -p:SymbolPackageFormat=snupkg --output ${{ env.PACKAGE_OUTPUT_DIRECTORY }}

    - name: 'Pack MongoDB extension'
      run: dotnet pack ${{ env.MONGO_PROJECT_PATH }} --no-restore --no-build --configuration Release --include-symbols -p:SymbolPackageFormat=snupkg --output ${{ env.PACKAGE_OUTPUT_DIRECTORY }}
      
    - name: 'Pack NewtonSoft extension'
      run: dotnet pack ${{ env.NEWTON_PROJECT_PATH }} --no-restore --no-build --configuration Release --include-symbols -p:SymbolPackageFormat=snupkg --output ${{ env.PACKAGE_OUTPUT_DIRECTORY }}

    - name: 'Pack EntityFramework extension'
      run: dotnet pack ${{ env.EF_PROJECT_PATH }} --no-restore --no-build --configuration Release --include-symbols -p:SymbolPackageFormat=snupkg --output ${{ env.PACKAGE_OUTPUT_DIRECTORY }}

    - name: 'Pack Dapper.DDD.Repository extension'
      run: dotnet pack ${{ env.DAPPER_PROJECT_PATH }} --no-restore --no-build --configuration Release --include-symbols -p:SymbolPackageFormat=snupkg --output ${{ env.PACKAGE_OUTPUT_DIRECTORY }}

    - name: 'Pack Swagger extension'
      run: dotnet pack ${{ env.SWAGGER_PROJECT_PATH }} --no-restore --no-build --configuration Release --include-symbols -p:SymbolPackageFormat=snupkg --output ${{ env.PACKAGE_OUTPUT_DIRECTORY }}

    - name: NuGet login (OIDC)
      uses: NuGet/login@v1
      id: login
      with:
        user: ${{ secrets.NUGET_USERNAME }}

    - name: 'Push package'
      run: dotnet nuget push ${{ env.PACKAGE_OUTPUT_DIRECTORY }}/*.nupkg --api-key ${{ steps.login.outputs.NUGET_API_KEY }} --source ${{ env.NUGET_SOURCE_URL }} --skip-duplicate
